*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:#111827;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

padding:30px;

}

.container{

width:100%;
max-width:1000px;

}

.profile-card{

background:#1f2937;

border-radius:20px;

display:flex;

gap:40px;

padding:40px;

align-items:center;

color:white;

}

.profile-image{

flex:1;

text-align:center;

}

.profile-image img{

width:250px;

max-width:100%;

border-radius:50%;

border:6px solid #8b5cf6;

}

.profile-info{

flex:2;

}

.profile-info h1{

font-size:40px;

margin-bottom:10px;

}

.profile-info h3{

color:#8b5cf6;

margin-bottom:20px;

}

.profile-info p{

line-height:1.8;

margin-bottom:15px;

}

.contact{

margin-top:20px;

}

.btn{

display:inline-block;

margin-top:25px;

padding:12px 25px;

background:#8b5cf6;

color:white;

text-decoration:none;

border-radius:8px;

}

.btn:hover{

background:#6d28d9;

}

/* Tablet */

@media(max-width:900px){

.profile-card{

flex-direction:column;

text-align:center;

}

.profile-info{

text-align:center;

}

}

/* Mobile */

@media(max-width:600px){

.profile-info h1{

font-size:30px;

}

.profile-image img{

width:180px;

}

.profile-card{

padding:20px;

}

}